<div class="container">
  <h1 class="mb-5 mt-4">Pokemon List</h1>

  <input
    #input
    (keyup.enter)="selectPokemon(input.value)"
    class="form-control"
    type="number"
    placeholder="search by pokemon number"
  /><br />
  <p *ngIf="pokemonSelected">
    vous avez selectionné : {{ pokemonSelected.name }}
  </p>
  <p *ngIf="!pokemonSelected">pokemon non trouvé</p>
  <br />
  <div class="row">
    <div class="col-sm-3" *ngFor="let pokemon of PokemonList">
      <div class="card mb-3" pkmnBorderCard>
        <h3 class="card-header text-success">
          {{ pokemon.name }}
        </h3>
        <div style="display: flex" class="card-body">
          <div class="row">
            <img
              src="{{ pokemon.picture }}"
              class="col-sm-6 img-fluid"
              alt="img"
            />
            <div class="col-sm-6">
              <small>ID: {{ pokemon.id }}</small
              ><br />
              <small>HP: {{ pokemon.hp }}</small
              ><br />
              <small>CP: {{ pokemon.cp }}</small
              ><br />
              <small>Types: {{ pokemon.types.join(", ") }}</small
              ><br />
              <small>Created: {{ pokemon.created | date }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
